# Vagrant info doesn't need to be in the repo
.vagrant
Vagrantfile

# Any .out files are test data, we can ignore them.
*.out

# We don't want to add the source files to the git repo.
*.MCA
*.MSN

# We don't need to worry about files used by cloud9 (c9.io)
.c9revisions

# The bin directory is used for PHPUnit when on Cloud9, so we don't want to have it in git.
bin